[node]
offset = 0  # Will be replaced by NODE_OFFSET environment variable if set
hardware_claim = 0  # Currently not required to specify, just use 0
starting_epoch = 0
ending_epoch = 9223372036854775807

[network]
address = "0.0.0.0" # Bind to all interfaces for reliability behind NAT/firewalls

[solana]
endpoint_rpc = "https://api.devnet.solana.com"  # Default Solana Devnet RPC endpoint
endpoint_wss = "wss://api.devnet.solana.com"   # Default Solana Devnet WebSocket endpoint
cluster = "Devnet"
commitment.commitment = "confirmed"  # or "processed" or "finalized"